<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>首页</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notice">
            <ion-icon name="easel"></ion-icon>
            <ion-label>公示</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="invite">
            <ion-icon name="gift"></ion-icon>
            <ion-label>邀请</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon name="person"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
