.change-item{
    --padding-start: 0;
    --background: var(--ion-background-color,#f9f9f9);
}
.btn{
    margin-top: 30px;
}
.bgcolor{
    background:#f9f9f9;
    height:100%;
    --background: var(--ion-background-color,#f9f9f9);
}

.none-color{
    --border-color: transparent;
    --background: transparent;
    --color: #999999;
    --color-activated: #666666;
    --background-activated: transparent;
}